.logo {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title-block {
    align-content: center;
    justify-content: center;
}


@keyframes title-block {
    30% {
        transform: scale(1.1);
    }
    40%, 60% {
        transform: rotate(-20deg) scale(1.1);
    }
    50% {
        transform: rotate(20deg) scale(1.1);
    }
    70% {
        transform: rotate(0deg) scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.title-block {
    position: relative;
    height: 70px;
    width: 70px;
    background: #18191f;
    color: #8e8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    border-radius: 20px;
    margin-left: 12px;
    animation: title-block 1.5s ease forwards;
}