@tailwind base;
@tailwind components;
@tailwind utilities;

.hello{
    @apply flex items-center;
    height:200px;
}

.preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(217, 215, 213);
    height:400px;
    width:400px;
    color: black;
}

.demo{
    display: flex;
    justify-content: space-between;
}